.calendar-table, .weekhours-table {
    border-collapse: collapse;
}
.calendar-table td, .weekhours-table td  {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #ababab;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}

.calendar-table th, .weekhours-table th, .day-names {
    font-weight: bold;
    color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #9F2D37;
}

.date-cell:hover {
    background: #eee;
    cursor: pointer;
}

.date-cell.selected {

    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px dashed;
}

.calendar-table caption {
    text-align: center;
}

li {
    list-style: none;

    float: left;
    padding: 6px;


    border: 1px solid gray;
    border-collapse: collapse;

    cursor: pointer;
    font-size: 90%;
    background: #caeff5;

}

.selected2 {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #f98690;
}

body {
    background: #e6ffff;

}

#main {
    width: 760px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 0;
    background-color: #ffffe6;
}

#calendar-holder {
    padding-bottom: 30px;
}

ul {
    list-style: none;
    float: left;
    width: 100%;
}
#header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
}