.striped-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.striped-table td {

    border-color: #ababab;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 20px;

}

.striped-table tr:nth-child(2n) {
    background: #d3d3d3;
}

.striped-table tr:nth-child(2n+1) {
    background: #e1e0e0;
}

.striped-table th, .day-names {
    border-left: 1px solid #9F2D37;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #9F2D37;
}

.date-cell:hover {
    background: #eee;
    cursor: pointer;
}

.date-cell.selected {
    font-weight: bold;
    border: 1px dashed;
}

.striped-table caption {
    text-align: center;
    font-weight: bold;
}



.nearbyMonth {
    opacity: 0.45;
}

.nearbyMonth td, .nearbyMonth th{
    font-size: 11px;
    width: 14px;
}

.nearbyMonth th {
    background-color: #8d8c8e;
}


