
* {
    font-family: 'Museo Sans', 'Lucida Grande', Arial, sans-serif;
    font-size: 14px;
}

#main {
    background-color: #ffffe6;
}

#schedule {
    list-style: none;
    float: left;
    margin: 0;
    border: 1px solid #e1e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e1e0e0;
}

#header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.reserved{
    text-decoration: underline;
    color: #eef5f3;
    background: #d5d6d7;
}
.user-reserved{
    text-decoration: underline;
    background: #f98690;
}
#schedule li {
    list-style: none;
    float: left;
    padding: 6px;
    cursor: pointer;
    font-size: 90%;
    width: 32px;
    text-align: center;
}

#value {
    background-color: #9F2D37;
    font-weight: bold;
    color: whitesmoke;
    padding: 6px;
}

.weekhours th {
    width: 36px;
    padding-left: 4px;
    padding-right: 4px;
}

.weekhours .day-names {
    width: 25px;
}
.weekhours .simple  {
    color: transparent;
    font-size: 0;
    user-select: none;
}

th.day-names  {
    background: none;
}

