button:hover {
    background: #C94727;
    cursor: pointer;
}

* {
    font-family: 'Museo Sans', 'Lucida Grande', Arial, sans-serif;
    font-size: 14px;
}

button {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    color: seashell;
    background: #F2744A;
    padding: 5px;
    border: 0;
    outline: none;
}

#left {
    background-image: url(../images/images_left_copy.jpg);
    width: 26px;
    height: 26px;
    color: transparent;
    margin-left: 40px;
}

#left:hover {
    background-position: right;
}

#right {
    background-image: url(../images/images_right_copy.jpg);
    background-position: right;
    width: 26px;
    height: 26px;
    color: transparent;
}

#right:hover {
    background-position: left;
}
body {
    background: #e6ffff;
}

#main {
    width: 760px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 0;
    background-color: #ffffe6;
}
#navigator {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#schedule {
    list-style: none;
    float: left;
    padding-left: 10px;
    margin: 0;
}

#header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#schedule li {
    list-style: none;
    float: left;
    padding: 6px;
    border: 1px solid gray;
    border-collapse: collapse;
    cursor: pointer;
    font-size: 90%;
    background: #e1e0e0;
    width: 32px;
    text-align: center;
}

.reserved {

    text-decoration: underline;
    background: #f98690;
}

#value {
    display: inline;
    float: left;
    background-color: #9F2D37;
    font-weight: bold;
    color: whitesmoke;
    padding: 6px;
    margin-left: 55px;
}

#weekhours-holder {

    clear:both;

}

.buttons {
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
}

.weekhours th {
    width: 36px;
    padding-left: 4px;
    padding-right: 4px;
}

.weekhours .day-names {
    width: 25px;
}

th.day-names  {
    background: none;
}

